
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="container">
        <video id="video" autoplay height="200" width="200"></video>
    </div>
    <script src="/Scripts/getMedia.js"></script>